<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045256485405-8bqhp8il5uh646pb74sv2req50k7lh5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045256485405-8bqhp8il5uh646pb74sv2req50k7lh5p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1045256485405-025oqe4tsfae1i1ikqc8sgrg1ha75g5s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTN3iU6qhP5NWz8-u0Ji6jyHNV6nTmfXc</string>
	<key>GCM_SENDER_ID</key>
	<string>1045256485405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iamnagaraj.vasitionary</string>
	<key>PROJECT_ID</key>
	<string>vasitionary</string>
	<key>STORAGE_BUCKET</key>
	<string>vasitionary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045256485405:ios:9d3cd64bc1d7410a</string>
	<key>DATABASE_URL</key>
	<string>https://vasitionary.firebaseio.com</string>
</dict>
</plist>